body {
    background: url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&h=350)center center/cover no-repeat;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.navbar {
    margin-bottom: 10px;
    padding: 20px;
    background: #f2f2f2;
}

nav.navbar.navbar-expand-md.navbar-dark.py-0 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9E1030;
}

a.navbar-brand {
    font-size: 2em;
    height: 100%;
    background: #9E1030;
    font-weight: 700;
}

a.nav-link {
    font-size: 1em;
}

nav> div.container {
    margin-right: 150px;
    margin-left: 150px;
}

nav> div.container {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav>div>div>ul>li>a {
    color: #111111;
    font-weight: 700;
}

nav>div>div>ul>li>a:hover {
    color: #f2f2f2;
    background-color: #9E1030;
}

button.navbar-toggler {
    background: #d3d3d3;
}

#content{
    max-width: 700px;
    margin-top: 80px;
    margin-bottom: 150px;
    padding: 40px;
    background:white;
    line-height: 32px;
}

img {
    width: 200px;
    height: 200px;
    padding-bottom:16px;
}

h5 {
    font-weight: 600;
}
 

hr {
    width: 50%;
    float: left;
}

.media-body p {
    padding-top: 40px;
    margin-top: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    background: #666666;
    border-top: 2px solid#9E1030;
}
